body { background-color:#FFFFFF; font-family:Verdana,Geneva,Arial,sans-serif; margin-left:20px; margin-top:30px; margin-right:30px; }

h1  { font-size:32px; color: #000000; font-family:Times,serif; font-weight:bolder; letter-spacing:0.02cm; }

.norm12  { color: #000000; font-size: 12px; line-height: 18px; letter-spacing:0.01cm; }
.norm11  { color: #000000; font-size: 11px; line-height: 16px; letter-spacing:0.01cm; }
.norm9   { color: #000000; font-size: 9px; line-height: 12px; letter-spacing:0.01cm; }
.grau9   { color: #CCCCCC; font-size: 9px; line-height: 12px; letter-spacing:0.01cm; }
.hell    { color: #999999; }
.rot     { color:#FF0000; }

.titel   { font-size:32px; color: #000000; font-family:Times,serif; font-weight:bolder; letter-spacing:0.01cm; }

.ez50    { margin-left:50px; }
.ez100   { margin-left:100px; }

ul { margin-top:30px; font-size: 11px; line-height: 16px; list-style-type: circle; }
li { font-size: 11px; line-height: 16px; }

hr       { line-height:1; color:#DEDEDE }

a:link { color:#FF0000; text-decoration:none; }
a:visited {color:#FF6363; text-decoration:none; }
a:hover {color:#0000FF; text-decoration:none; }
a:active {color:#FF0000; text-decoration:none; }

a.ext:link { color:#999999; text-decoration:underline }
a.ext:visited {color:#999999; text-decoration:underline }
a.ext:hover {color:#0000FF; text-decoration:underline }
a.ext:active {color:#FF0000; text-decoration:underline }

a.blau:link { color:#0000FF; text-decoration:none; font-size: 9px; }
a.blau:visited {color:##A0A0FF; text-decoration:none; font-size: 9px; }
a.blau:hover {color:#FF0000; text-decoration:none; font-size: 9px; }
a.blau:active {color:#FFFF00; text-decoration:none; font-size: 9px; }

a.klein:link { color:#CCCCCC; text-decoration:none; font-size: 9px; }
a.klein:visited {color:#CCCCCC; text-decoration:none; font-size: 9px; }
a.klein:hover {color:#999999; text-decoration:none; font-size: 9px; }
a.klein:active {color:#FFFF00; text-decoration:none; font-size: 9px; }

a.map:link { color:#FFFFFF; background-color:#000000; text-decoration:none; font-size: 11px; }
a.map:visited {color:#FFFFFF; background-color:#000000; text-decoration:none; font-size: 11px; }
a.map:hover {color:#FF0000; background-color:#CCCCCC; text-decoration:none; font-size: 11px; }
a.map:active {color:#FFFF00; background-color:#CCCCCC; text-decoration:none; font-size: 11px; }

/* copyright markus steiger 04.03.2002 */