body { background-color:#FFFFFF; font-family:Verdana,Geneva,Arial,sans-serif; margin-left:30px; margin-top:30px; margin-right:10px; }



a{font-weight: color: #999999; text-decoration: none;}
a:hover, a:active{color: #0000FF;}

#menutwo{
font:11px/15px;
margin: 0px 20px 20px 0px;
padding: 0px;
width: auto;
background-color : transparent;
float: left;
}
#menutwo ul, #menutwo li{
display: inline; 
list-style: none;
margin: 0px;
padding: 0px;
}
#menutwo li a, #menutwo li a:hover, #menutwo li a:active { 
display: block;
text-decoration: none; 
color: #666666;
background-color : transparent;
margin: 0px 0px 1px 0px;
padding: 2px 10px 2px 2px;
border-right: 19px solid #dedede;
text-align: right;
width : 130px;
font-weight: normal;
}
#menutwo li a:hover, #menutwo li a:active { 
border-right: 19px solid #FF0000;
color: #FF0000;
}

.hell    { color: #CCCCCC; }

.norm9   { color: #000000; font-size: 9px; line-height: 14px; font-weight:normal; letter-spacing:0.01cm; }

a.nav:link { color:#3131CE; text-decoration:none; font-size: 11px; }
a.nav:visited { color:#3131CE; text-decoration:none; font-size: 11px; }
a.nav:hover { color:#FF0000; text-decoration:none; font-size: 11px; }
a.nav:active { color:#FF0000; text-decoration:none; font-size: 11px; }